header {
    @include displayRow;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;

    .logo {
        padding: 0 1rem;
    }

    .searchBarHeader {
        width: 40%;

        &_input {
            width: 100%;
            border-radius: 10%;
            border: 1px solid $gray-text;
        }   
    }
}
