$background-color: #101924;
$background-color-dark: #050C13;
$purple-components: #B720E1;
$green-highlight: #7ED321;
$white-text: #FFFFFF;
$white-text-70: rgba(255, 255, 255, 0.7);
$gray-text: #545B63;
$purple-input:#2B2848;
$background-elements: #192737;